:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body.dark-mode {
    --bg: #111111;
    --fg: #e6e6e6;
    --muted: #555;
    --bg2: #1f3540;
}

body {
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--bg);
    color: var(--fg);
}


h1, p, h2, h3, h4 {
    padding-left: 180px;
    color: var(--fg);
}

a {
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    display: block;
    margin: 10px;
}

.project-links{
    background-color: rgb(145, 22, 202);
}

.navbar {
    top: 0;
    left: 0;
    width: 150px;
    background-color: #10b6ed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    position: fixed;
    height: 100vh;
    transition: transform .15s ease, box-shadow .15s ease;
    gap: 50px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #80649a;
    border-radius: 5px;

}

.hidden {
    display: none;
}

button {
    background-color: #10b6ed;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Courier, monospace;
    gap: 50px;
}

button:hover{
    background-color: #80649a;
    border-radius: 5px;
}

.logo {
    padding-left: 180px;
    width: 10%;
    height: 10%;
    display: flex;
    align-items: left;
}

.profile{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.profile img {
    padding-left: 180px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.profile p {
    margin: 5px 10px;
    padding-left: 0px;
}
