:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    --hg: rgb(46, 183, 183);
}

body.dark-mode {
    --bg: #111111;
    --fg: #e6e6e6;
    --muted: #555;
    --bg2: #1f3540;
    --hg: #80649a;
    
}

body {
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--bg);
    color: var(--fg);
    background-image: url(Cox-Mill-Exterior--1024x684.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
}


h1, p, h2, h3, h4, ul{
    color: var(--fg);
}

a {
    padding: 10px; 
    background-color: #007bff; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    display: block;
    margin: 10px;
}

.project-links{
    background-color: rgb(145, 22, 202);
}

.navbar {
    background-color: var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1000;
    align-items: center;
    transition: transform .15s ease, box-shadow .15s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
}

.navbar a:hover {
    border-radius: 5px;
}



.hidden {
    display: none;
}


button {
    background-color: transparent;
    color: var(--fg);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Courier, monospace;
    gap: 50px;
}

button:hover{
    background-color: var(--hg);
}

.logo {
    width: 10%;
    height: 10%;
    display: flex;
    align-items: left;
}

.profile{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.profile p {
    margin: 5px 10px;
    padding-left: 0px;
}


#home{
    padding-top: 25px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no repeat;
    -webkit-background-clip: text;
    background-position: -10px 0;
    animation: backcolor 5s linear infinite;
}

@keyframes backcolor {
    100%{
        background-position: 0 0;
    }
}