:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    --hg: rgb(46, 183, 183);
    --bg3: linear-gradient(to bottom, #82c9d0a9, #b092cf8f);
    
}

body.dark-mode {
    --bg: #111111;
    --fg: #e6e6e6;
    --muted: #555;
    --bg2: #1f3540;
    --hg: #80649a;
    --bg3: linear-gradient(to bottom, #0b4e52a4, #3e13688f);

    
}

body {
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--bg);
    color: var(--fg);
    background: var(--bg3);
    background-attachment: fixed;
    
}


h1, p, h2, h3, h4, ul, ol, li{
    color: var(--fg);
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

a {
    padding: 15px; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    display: block;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.project-links{
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: rgba(145, 22, 202, 0.638);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.414);
    margin-left: 40px;
    margin-right: 40px;
    

    transition: 
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.project-links:hover{
    transform: scale(1.05);   
    
}

.navbar {
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1000;
    align-items: center;
    transition: transform .15s ease, box-shadow .15s ease;
}

.navbar a {
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
}

.navbar a:hover {
    border-radius: 5px;
}


button {
    background-color: transparent;
    color: var(--fg);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Courier, monospace;
    gap: 50px;
    

    transition: 
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

button:hover{
    background-color: var(--hg);
    transform: scale(1.07);   
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.414);
}

.logo {
    width: 250px;
    height: 250px;
    display: flex;
}


.profile{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.414);
    margin-left: 40px;
}

.profile p {
    margin: 5px 10px;
    padding-left: 0px;
    margin-left: 40px;
}


#home{
    padding-bottom: 100px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no repeat;
    -webkit-background-clip: text;
    background-position: -10px 0;
    animation: backcolor 5s linear infinite;
    
}

.page {
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(0);
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px; 
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    padding: 20px;
}

.hero-logo {
    width: 180px; 
    margin-bottom: 20px;
}

.hero-title {
    font-size: 60px;    
    max-width: 900px;
    line-height: 1.2;
    font-weight: 700;
}

.start-link{
    padding: 15px; 
    background-color: rgba(145, 22, 202, 0.638);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.414);
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    display: block;
    margin: 10px;
    margin-left: 400px;
    margin-right: 40px;
    margin-top: -30px;
    transition: 
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.start-link:hover{
    transform: scale(1.05);   
}

.join-button{
    background-color: rgba(145, 22, 202, 0.638);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.414);
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    display: block;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    transition: 
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}    

.join-button:hover{
    transform: scale(1.05); 
}

.dropdown {
    background: none;
    position: relative;
}

.dropbtn {
    background: none;
    color: var(--fg);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Courier, monospace;

    transition: 
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.dropbtn:hover {
    background-color: var(--hg);
    transform: scale(1.07);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.414);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0; 
    background: var(--bg);
    border-radius: 8px;
    padding: 5px 0;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
    z-index: 10000;
    min-width: 170px;
}

.dropdown-item {
    width: 50%;
    text-align: left;
    background: none;
    border: none;
    color: var(--fg);
    padding: 0px;
    cursor: pointer;
    font-family: Courier, monospace;

    transition: 
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.dropdown-item:hover {
    background: var(--hg);
    transform: scale(1.03);
}

.dropdown:hover .dropdown-content {
    display: block;
}

hr{
    margin: 15px;
    margin-top: 40px;
    border: 1px solid #8492a6;
}