:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    --hg: rgb(46, 183, 183);
    --bg3: linear-gradient(to bottom, #82c9d0a9, #b092cf8f);
    --line: #8492a6c0;

}

body.dark-mode {
    --bg: #111111;
    --fg: #e6e6e6;
    --muted: #555;
    --bg2: #1f3540;
    --hg: #80649a;
    --bg3: linear-gradient(to bottom, #0b4e52a4, #3e13688f);
    --line: #53565bc0;

}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background: var(--bg);
    color: var(--fg);
    background: var(--bg3);
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    flex-grow: 1;               
    display: flex;
    flex-direction: column;

}

h1,
p,
h2,
h3,
h4,
ul,
ol,
li {
    color: var(--fg);
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

a {
    padding: 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
}


/*.project-links {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-left: 40px;
    margin-right: 40px;


    
}*/

.carousel {
    width: 100%;
    max-width: 95%;
    overflow: hidden;
    margin: 20px auto;
}

.carousel-track {
    display: flex;
    gap: 20px;
    white-space: nowrap;
    animation: scroll 18s linear infinite;
    width: max-content;

}

.carousel-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to   { transform: translateX(-50%); }
}

.project-links {
    padding: 15px 18px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);  
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;     
    text-decoration: none;
    color: var(--fg);
    white-space: nowrap;
    width: 100%;
    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.project-links:hover {
    transform: scale(1.05);
}

.project-links2 {
    padding: 15px 18px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);  
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;     
    text-decoration: none;
    color: var(--fg);
    white-space: wrap;
    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.project-links2:hover {
    transform: scale(1.05);
}


.project-links3 {
    padding: 15px 18px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);  
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px; 
    text-decoration: none;
    color: var(--fg);
    white-space: nowrap;
    display: inline-block;
    flex-shrink: 0;
    min-width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    
}

.project-links3:hover {
    transform: scale(1.02);
}



.navbar {
    backdrop-filter: blur(10px);
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    z-index: 1000;
    align-items: center;
    transition: transform .15s ease, box-shadow .15s ease;
}

.navbar a {
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;

}

.navbar a:hover {
    border-radius: 5px;
}


button {
    background-color: transparent;
    color: var(--fg);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Courier, monospace;
    gap: 50px;


    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

button:hover {
    background-color: var(--hg);
    transform: scale(1.07);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.414);
}

.logo {
    width: 250px;
    height: 250px;
    display: flex;
}


.profile {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.414);
    margin-left: 40px;
}

.profile p {
    margin: 5px 10px;
    padding-left: 0px;
    margin-left: 40px;
}

#home {
    margin-top: 60px;
    top: 50%;
    left: 50%;
    align-items: center;
    font-size: 50px;
    -webkit-text-stroke: 1px #fff;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no repeat;
    -webkit-background-clip: text;
    animation: backcolor 5s linear infinite;

}

.content{
    flex-grow: 1;
    min-height: calc(100vh - 100px);
    align-items: flex-start;
}

.page {
    min-height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(0);
    /*position: absolute;*/
    width: 100%;
    left: 0;
    top: 80px;
    transition: opacity 0.7s ease, transform 0.7s ease;
    /*min-height: calc(100vh - 100px);*/
    position: static;
}

.meet {
    width: 90%;
    height:fit-content;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    padding-left: 80px;
    flex-wrap: wrap;
}

.cards {
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    height: fit-content;
    padding: 20px 20px 20px 20px;
   
}

.hidden {
    /*position: absolute; 
    left: -9999px; 
    visibility: hidden;
    opacity: 0;
    pointer-events: none;*/
    display: none;
    /*opacity: 0;
    pointer-events: none;
    transform: translateY(20px);*/
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    padding: 20px;
    gap: 15px;
    font-size: 3rem;
}

.hero-logo {
    width: 180px;
    margin-bottom: 20px;
}

.hero-title {
    font-size: 60px;
    max-width: 900px;
    line-height: 1.2;
    font-weight: 700;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.8s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bolt {
    width: 90px;
    height: 110px;
    display: inline-block;
    animation: electricShake 0.15s infinite linear;
    filter: drop-shadow(0 0 6px gold);
}

@keyframes electricShake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    20% {
        transform: translate(-1px, 1px) rotate(-3deg);
    }

    40% {
        transform: translate(2px, -1px) rotate(3deg);
    }

    60% {
        transform: translate(-2px, -2px) rotate(-2deg);
    }

    80% {
        transform: translate(1px, 2px) rotate(2deg);
    }

    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 2px yellow);
    }

    to {
        filter: drop-shadow(0 0 8px gold);
    }
}

.bolt:hover {
    animation: zap 0.3s infinite ease-in-out;
}

.banner {
    animation: wave 2.5s ease-in-out infinite;
    transform-origin: left center;

}

@keyframes wave {
    0% {
        transform: rotate(0deg) translateY(0);
    }

    20% {
        transform: rotate(-2deg) translateY(1px);
    }

    40% {
        transform: rotate(2deg) translateY(-1px);
    }

    60% {
        transform: rotate(-1.5deg) translateY(1px);
    }

    80% {
        transform: rotate(1.5deg) translateY(-1px);
    }

    100% {
        transform: rotate(0deg) translateY(0);
    }
}

.start-link {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);  
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;     
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.414);
    color: var(--fg);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 10px;
    margin-left: 400px;
    margin-right: 40px;
    margin-top: -30px;
    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.start-link:hover {
    transform: scale(1.05);
}

.join-button {
    background-color: rgba(145, 22, 202, 0.638);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.414);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.join-button:hover {
    transform: scale(1.05);
}

.dropdown {
    background: none;
    position: relative;
}

.dropbtn {
    background: none;
    color: var(--fg);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Courier, monospace;

    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.dropbtn:hover {
    background-color: var(--hg);
    transform: scale(1.07);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.414);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--bg);
    border-radius: 8px;
    padding: 5px 0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    min-width: 170px;
}

.dropdown-item {
    width: 50%;
    text-align: left;
    background: none;
    border: none;
    color: var(--fg);
    padding: 0px;
    cursor: pointer;
    font-family: Courier, monospace;

    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94),
        box-shadow 0.3s cubic-bezier(.25, .46, .45, .94);
}

.dropdown-item:hover {
    background: var(--hg);
    transform: scale(1.03);
}

.dropdown:hover .dropdown-content {
    display: block;
}

hr {
    margin: 15px;
    margin-top: 40px;
    border: 1px solid var(--line);
}



.footer {
    margin-top: 80px;
    background: #55b4d1d7;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
    transition:
        transform 0.3s cubic-bezier(.25, .46, .45, .94);
    -webkit-font-smoothing: antialiased;

}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-column a {
    color: #000000;
    text-decoration: none;
}

.footer-links a:hover {
    color: #fff;
    text-decoration: underline;
    transform: scale(1.07);
    
}

.footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #555;
    font-size: 0.8em;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 20px;
}

.project-card {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 150px;
    width: 80%;
    border-radius: 15px;
    
    /* display: block;
    text-decoration: none;
    color: inherit;
    
    height: 150px; 
    width: 80%;
    
    overflow: hidden; 
    
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);  
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px; 
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
    
    display: flex;
    flex-direction: column; */
}

.card-perspective {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}

.project-card:hover .card-inner {
    transform: rotateY(180deg);
}



.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
    border-radius: 15px;
    overflow: hidden; 

    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    transform: rotateY(180deg);
    background-color: rgba(255, 255, 255, 0.35);
} 

.project-card:hover {
    transform: translateY(-5px); 
}

.project-card:hover .card-front,
.project-card:hover .card-back {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-content {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.project-card h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: #333; 
}

.project-card .lead {
    font-size: 0.9em;
    color: #666; 
    margin: 0 0 15px 0;
}

.project-card .context-tag {
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    background-color: #d1c4e9;
    color: #4527a0;
    padding: 3px 8px;
    border-radius: 4px;
    margin: 10px 0 20px 0; 
}

.card-back p {
    font-size: 1em;
    color: #333;
    font-weight: 500;
}

@media (max-width: 900px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

.project-carousel {
    display: flex;
    gap: 20px; 
    margin: 20px auto;
}

.project-card2 {
    display: block;
    text-decoration: none;
    color: inherit;
    
    height: 150px; 
    width: 80%;
    
    overflow: hidden; 
    
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);  
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px; 
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s, box-shadow 0.2s; 
}

.project-card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card2 h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #333; 
    word-break: break-all;
}

.project-card2 .lead2 {
    font-size: 0.9em;
    color: #666; 
    margin: 0 0 10px 0;
    flex-grow: 1; 
}

.project-card2 .context-tag2 {
    display: inline-block;
    font-size: 0.75em;
    font-weight: 500;
    background-color: #603101;
    color: #F6D193;
    padding: 3px 8px;
    border-radius: 4px;
    margin-top: auto; 
}

@media (max-width: 900px) {
    .project-carousel {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .project-carousel {
        grid-template-columns: 1fr;
    }
}