:root {
    --bg: #ffffff;
    --muted: #9ca3af;
    --fg: #000000;
    --bg2: #e9f5ff;
    font-family: Courier, monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

h1, p, h2, h3 {
    padding-left: 180px;
}

a {
    padding: 10px 10px; 
    background-color: #007bff; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    line-height: 1;
}

.navbar {
    top: 0;
    left: 0;
    width: 150px;
    background-color: #10b6ed;
    flex-direction: column;
    display: flex;
    justify-content: center;
    z-index: 1000;
    align-items: center;
    position: fixed;
    height: 100vh;
    transition: transform .15s ease, box-shadow .15s ease;
    gap: 50px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 14px;
}

.navbar a:hover {
    background-color: #80649a;
    border-radius: 5px;

}

.hidden {
    display: none;
}

button {
    background-color: #10b6ed;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: Courier, monospace;
    gap: 50px;
}

button:hover{
    background-color: #80649a;
    border-radius: 5px;
}

.calendar-grid{
    display: flex;
    padding-left: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day{
    border: 1px solid #6125c7;
    padding: 10px;
    text-align: center;
}

img {
    padding-left: 180px;
}